/* Estilos CSS para personalizar tu página */

/* Estilos para el encabezado h1 */
h1 {
    font-size: 32px;
    text-align: center;
}

/* Estilos para el párrafo */
p {
    font-size: 24px;
    text-align: center;
}

/* Estilos para el botón */
button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos adicionales para el botón en hover (cuando el mouse pasa por encima) */
button:hover {
    background-color: #0056b3; /* Color de fondo del botón en hover */
}
